<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598334261284-53mgs907q5o6l704ug8o8vh860gcoev4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598334261284-53mgs907q5o6l704ug8o8vh860gcoev4</string>
	<key>API_KEY</key>
	<string>AIzaSyBe2UgQ2-5AzFQ-7MQb0zpu3jFiVDffO4A</string>
	<key>GCM_SENDER_ID</key>
	<string>598334261284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.earnilyapp</string>
	<key>PROJECT_ID</key>
	<string>earnilyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>earnilyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598334261284:ios:091709e7a05d9490aa70b1</string>
</dict>
</plist>